[submodule "tmsgreen.tech/hugo/themes/hugo-theme-tokiwa"]
	path = main/themes/hugo-theme-tokiwa
	url = https://github.com/heyeshuang/hugo-theme-tokiwa.git
[submodule "tmsgreen.tech/hugo/themes/ananke"]
	path = main/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
