/* http://fonts.googleapis.com/css?family=Muli */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.long-text {
  word-break: break-all;
}

body, h1, h2 {
  font-family: "Muli", sans-serif;
}

html {
  font-size: 20px;
}
body {
  font-size: 1rem;
}

body {
  margin: 0 1em;
  padding: 0;
}
.container {
  display: flex;
  flex-flow: row wrap;
}

section {
  min-width: 100%;
  max-width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 3em;
  color: #666;
  text-align: center;
}
.subtitle {
  font-weight: lighter;
  display: block;
  font-size: 0.65em;
  margin: 0;
}

h2 {
  font-weight: normal;
  margin-bottom: 1.2em;
  font-size: 1.8em;
}


dl {
  min-height: 8em;
  position: relative;
  margin: 1px 1px 0 0;
  padding: 1.3em 2em 1.3em 1em;
  color: white;
  background-color: pink;
  border-radius: 0 1em 0 0;
}
dl:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  top: 18px;
  left: 12px;
  border: 6px solid white;
  border-radius: 70px;
  width: 126px;
  height: 126px;
}
dt {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.3em 0;
  padding: 0;
}
dd {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.example {
  font-style: italic;
  margin-bottom: 0;
}
.example:before {
  display: inline;
  content: "\201C";
}
.example:after {
  display: inline;
  content: "\201D";
}

.fallacy-mind h2 { color: #754d29; }
.fallacy-mind dl { background-color: #754d29; }

#anonymous-authority:before { background-image: url(img/i_auth1.png); }
#authority:before { background-image: url(img/i_auth2.png); }
#sheep:before { background-image: url(img/i_sheep.png); }
#ignorance:before { background-image: url(img/i_ignor.png); }
#incredulity:before { background-image: url(img/i_incred.png); }
#money:before { background-image: url(img/i_money.png); }
#novel:before { background-image: url(img/i_novel.png); }
#pop:before { background-image: url(img/i_pop.png); }
#prob:before { background-image: url(img/i_prob.png); }
#tradition:before { background-image: url(img/i_tradition.png); }


.fallacy-emotion h2 { color: #ea2227; }
.fallacy-emotion dl { background-color: #ea2227; }

#consequences:before { background-image: url(img/i_consequences.png); }
#fear:before { background-image: url(img/i_fear.png); }
#flattery:before { background-image: url(img/i_flattery.png); }
#nature:before { background-image: url(img/i_nature.png); }
#pity:before { background-image: url(img/i_pity.png); }
#ridicule:before { background-image: url(img/i_ridicule.png); }
#spite:before { background-image: url(img/i_spite.png); }
#wishful:before { background-image: url(img/i_wishful.png); }

.fallacy-deduction h2 { color: #918ac1; }
.fallacy-deduction dl { background-color: #918ac1; }

#anecdote:before { background-image: url(img/i_anecdote.png); }
#composition:before { background-image: url(img/i_composition.png); }
#decomposition:before { background-image: url(img/i_decomposition.png); }
#design:before { background-image: url(img/i_design.png); }
#gambler:before { background-image: url(img/i_gambler.png); }
#hasty-generalization:before { background-image: url(img/i_hasty-generalization.png); }
#conclusions:before { background-image: url(img/i_conclusions.png); }
#middle-ground:before { background-image: url(img/i_middle-ground.png); }
#perfectionist:before { background-image: url(img/i_perfectionist.png); }
#relativist:before { background-image: url(img/i_relativist.png); }
#spotlight:before { background-image: url(img/i_spotlight.png); }
#sweeping-generalization:before { background-image: url(img/i_sweeping-generalization.png); }
#undistributed-middle:before { background-image: url(img/i_undistributed-middle.png); }

.fallacy-content h2 { color: #5eab8a; }
.fallacy-content dl { background-color: #5eab8a; }

#ad-hoc-rescue:before { background-image: url(img/i_ad-hoc-rescue.png); }
#biased-generalization:before { background-image: url(img/i_biased-generalization.png); }
#confirmation-bias:before { background-image: url(img/i_confirmation-bias.png); }
#false-dilemma:before { background-image: url(img/i_false-dilemma.png); }
#lie:before { background-image: url(img/i_lie.png); }
#vividness:before { background-image: url(img/i_vividness.png); }
#herring:before { background-image: url(img/i_herring.png); }
#slippery:before { background-image: url(img/i_slippery.png); }
#suppressed-evidence:before { background-image: url(img/i_suppressed-evidence.png); }
#unfalsifiability:before { background-image: url(img/i_unfalsifiability.png); }

.fallacy-causes h2 { color: #eb008b; }
.fallacy-causes dl { background-color: #eb008b; }

#consequent:before { background-image: url(img/i_consequent.png); }
#circular:before { background-image: url(img/i_circular.png); }
#cum-hoc:before { background-image: url(img/i_cum-hoc.png); }
#antecedent:before { background-image: url(img/i_antecedent.png); }
#common-cause:before { background-image: url(img/i_common-cause.png); }
#post-hoc:before { background-image: url(img/i_post-hoc.png); }
#wrongs:before { background-image: url(img/i_wrongs.png); }

.fallacy-attack h2 { color: #188dcd; }
.fallacy-attack dl { background-color: #188dcd; }

#ad-hominem:before { background-image: url(img/i_ad-hominem.png); }
#proof:before { background-image: url(img/i_proof.png); }
#circumstantial-ad-hominem:before { background-image: url(img/i_circumstantial-ad-hominem.png); }
#genetic:before { background-image: url(img/i_genetic.png); }
#association:before { background-image: url(img/i_association.png); }
#strawman:before { background-image: url(img/i_strawman.png); }

@media (min-width: 320px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 510px) {
  dl {
    padding-left: 170px;
  }
  dl:before {
    display: block;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

/**
 * On wider screens we can show two columns side by side.
 */
@media (min-width: 64em) {
  section {
    min-width: 31em;
    max-width: 50%;
  }
}

