/* http://fonts.googleapis.com/css?family=Muli */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v7/z6c3Zzm51I2zB_Gi7146Bg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.long-text {
  word-break: break-all;
}

.container {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
}

h1 {
  font-weight: normal;
  font-size: 3em;
  color: #666;
  text-align: center;
}
.subtitle {
  font-style: italic;
  margin: 0;
}

h2 {
  font-weight: normal;
  margin-bottom: 1.2em;
  font-size: 1.8em;
}


dl {
  min-height: 8em;
  display: flex;
  flex-direction: column;
  margin: 1px 1px 0 0;
  padding: 1.3em 2em 1.3em 1em;
  color: white;
  background-color: pink;
  border-radius: 0 1em 0 0;
}
dt:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  border: 6px solid white;
  border-radius: 70px;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}
dt {
  display: flex;
  flex-direction: row;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 0 0.3em 0;
  padding: 0;
  flex-grow: 1;
}
dd {
  clear: left;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.example {
  font-style: italic;
  margin-bottom: 0;
}
.example:before {
  display: inline;
  content: open-quote;
}
.example:after {
  display: inline;
  content: close-quote;
}

.fallacy-mind h2 { color: #754d29; }
.fallacy-mind dl { background-color: #754d29; }

#anonymous-authority dt:before { background-image: url(i_auth1.png); }
#authority dt:before { background-image: url(i_auth2.png); }
#sheep dt:before { background-image: url(i_sheep.png); }
#ignorance dt:before { background-image: url(i_ignor.png); }
#incredulity dt:before { background-image: url(i_incred.png); }
#money dt:before { background-image: url(i_money.png); }
#novel dt:before { background-image: url(i_novel.png); }
#pop dt:before { background-image: url(i_pop.png); }
#prob dt:before { background-image: url(i_prob.png); }
#tradition dt:before { background-image: url(i_tradition.png); }


.fallacy-emotion h2 { color: #ea2227; }
.fallacy-emotion dl { background-color: #ea2227; }

#consequences dt:before { background-image: url(i_consequences.png); }
#fear dt:before { background-image: url(i_fear.png); }
#flattery dt:before { background-image: url(i_flattery.png); }
#nature dt:before { background-image: url(i_nature.png); }
#pity dt:before { background-image: url(i_pity.png); }
#ridicule dt:before { background-image: url(i_ridicule.png); }
#spite dt:before { background-image: url(i_spite.png); }
#wishful dt:before { background-image: url(i_wishful.png); }

.fallacy-deduction h2 { color: #918ac1; }
.fallacy-deduction dl { background-color: #918ac1; }

#anecdote dt:before { background-image: url(i_anecdote.png); }
#composition dt:before { background-image: url(i_composition.png); }
#decomposition dt:before { background-image: url(i_decomposition.png); }
#design dt:before { background-image: url(i_design.png); }
#gambler dt:before { background-image: url(i_gambler.png); }
#hasty-generalization dt:before { background-image: url(i_hasty-generalization.png); }
#conclusions dt:before { background-image: url(i_conclusions.png); }
#middle-ground dt:before { background-image: url(i_middle-ground.png); }
#perfectionist dt:before { background-image: url(i_perfectionist.png); }
#relativist dt:before { background-image: url(i_relativist.png); }
#spotlight dt:before { background-image: url(i_spotlight.png); }
#sweeping-generalization dt:before { background-image: url(i_sweeping-generalization.png); }
#undistributed-middle dt:before { background-image: url(i_undistributed-middle.png); }

.fallacy-content h2 { color: #5eab8a; }
.fallacy-content dl { background-color: #5eab8a; }

#ad-hoc-rescue dt:before { background-image: url(i_ad-hoc-rescue.png); }
#biased-generalization dt:before { background-image: url(i_biased-generalization.png); }
#confirmation-bias dt:before { background-image: url(i_confirmation-bias.png); }
#false-dilemma dt:before { background-image: url(i_false-dilemma.png); }
#lie dt:before { background-image: url(i_lie.png); }
#vividness dt:before { background-image: url(i_vividness.png); }
#herring dt:before { background-image: url(i_herring.png); }
#slippery dt:before { background-image: url(i_slippery.png); }
#suppressed-evidence dt:before { background-image: url(i_suppressed-evidence.png); }
#unfalsifiability dt:before { background-image: url(i_unfalsifiability.png); }

.fallacy-causes h2 { color: #eb008b; }
.fallacy-causes dl { background-color: #eb008b; }

#consequent dt:before { background-image: url(i_consequent.png); }
#circular dt:before { background-image: url(i_circular.png); }
#cum-hoc dt:before { background-image: url(i_cum-hoc.png); }
#antecedent dt:before { background-image: url(i_antecedent.png); }
#common-cause dt:before { background-image: url(i_common-cause.png); }
#post-hoc dt:before { background-image: url(i_post-hoc.png); }
#wrongs dt:before { background-image: url(i_wrongs.png); }

.fallacy-attack h2 { color: #188dcd; }
.fallacy-attack dl { background-color: #188dcd; }

#ad-hominem dt:before { background-image: url(i_ad-hominem.png); }
#proof dt:before { background-image: url(i_proof.png); }
#circumstantial-ad-hominem dt:before { background-image: url(i_circumstantial-ad-hominem.png); }
#genetic dt:before { background-image: url(i_genetic.png); }
#association dt:before { background-image: url(i_association.png); }
#strawman dt:before { background-image: url(i_strawman.png); }

/**
 * On wider screens we can show two columns side by side.
 */
@media (min-width: 64em) {
  section {
    min-width: 10rem;
    max-width: 33%;
  }
}
@media print and (orientation: landscape) {
  html {
    font-size: 12pt;
  }
  section {
    min-width: 50%;
    max-width: 50%;
  }
}
